@import url('./Components/Canvas.css');
@import url('./Components/Header.css');
@import url('./Components/Home.css');
@import url('./Components/Footer.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}